.container {
  padding: 0 0;
  background-color: #ffffff;
}

.main {
  min-height: 90.7vh;
  padding: 0 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.banner {
  width: 90%;
  height: 315px;
}

.products {
  width: 100%;
  margin-top: 2%;
  padding: auto;
  display: table;
}
